{% extends 'main/base.html' %}
{% load static %}

{% block page_title %}
	<h3>Alerts</h3>
{% endblock %}

{% block body_block %}
<h1>Alerts</h1>

<h3>Major Alerts</h3>
<div style='display:flex;flex-wrap: wrap;'>
{% for snap in snapshots %}
	<div class="card mb-3" style="flex:46%; margin:1%">
		<div class="row g-0">
		  <div class="col-md-7">
			<div class="card-body">
			  <h5 class="card-title">Snaphsot Alert</h5>
			  <p class="card-text">An alert was triggered at {{ snap.user }} and a Snaphot was taken.</p>
			  <a href={{ snap.url }} class="btn btn-primary">Full Image</a>
			  <p class="card-text"><small class="text-muted">Snap taken at {{ snap.time }}</small></p>
			</div>
		  </div>
		  <div class="col-md-5">
			<img src="{{ snap.url }}" alt="Card image capture" class="card-img-top embed-responsive-item">
		  </div>
		</div>
	  </div>
{% endfor %}
</div>

{% endblock %}

{% block sidebar_block %}
<h3 class=title>
	Pages
</h3>
<ul class="list-group list-group-flush">
    <a href='/overview'>
        <li class="list-group-item">Overview</li>
    </a>
	
	<a href='/alerts'>
		<li class="list-group-item">Alerts</li>
	</a>
</ul>
{% endblock %}