{% extends 'main/base.html' %}
{% load static %}

{% block page_title %}
	<h3>Alerts</h3>
{% endblock %}

{% block body_block %}
<h1>Alerts</h1>

<h3>Major Alerts</h3>
{% for snap in snapshots %}
	<a href={{ snap.url }}>Snapshot taken at time {{ snap.time }}</a><br />
{% endfor %}

{% endblock %}

{% block sidebar_block %}
<h3 class=title>
	Pages
</h3>
<ul class="list-group list-group-flush">
    <a href='/overview'>
        <li class="list-group-item">Overview</li>
    </a>
	
	<a href='/alerts'>
		<li class="list-group-item">Alerts</li>
	</a>
</ul>
{% endblock %}