{% extends 'main/base.html' %}
{% load static %}

{% block page_title %}
	<h3>Home</h3>
{% endblock %}

{% block body_block %}
<h1>Welcome to the CS11 Meraki Dashboard</h1>

<div style='display:flex;justify-content: space-around;text-align:center'>
{% if users %}
	<div class='overview-item'>
		<p>Total users</p>
		<h3>{{users}}</h3>
	</div>
{% endif %}
{% if orgs %}
	<div  class='overview-item'>
		<p>Total organisations</p>
		<h3>{{orgs}}</h3>
	</div>
{% endif %}
{% if networks %}
	<div class='overview-item'>
		<p>Total networks</p>
		<h3>{{networks}}</h3>
	</div>
{% endif %}
{% if devices %}
	<div class='overview-item'>
		<p>Total devices</p>
		<h3>{{devices}}</h3>
	</div>
{% endif %}
</div>
{% endblock %}

{% block sidebar_block %}
<h3 class=title>
	Pages
</h3>
<ul class="list-group list-group-flush">
    <a href='/overview'>
        <li class="list-group-item">Overview</li>
    </a>
	
	<a href='/alerts'>
		<li class="list-group-item">Alerts</li>
	</a>
</ul>
{% endblock %}