{% extends 'main/base.html' %}
{% load static %}

{% block page_title %}
	<h3>Organisations</h3>
{% endblock %}

{% block sidebar_block %}
<h3 class='title'>Organisations</h3>
	<ul class="list-group list-group-flush">
		{% for org in orgs%}
			<a href="{% url 'show_org' org.slug %}" class="list-group-item list-group-item-action">
				{{ org.orgName }} ({{ org.orgID }})
			</a>
		{% endfor %}
	</ul>
{% endblock %}

{% block body_block %}
	<img src = "data:image/png;base64,{{ test|safe }}">
{% endblock %}