{% extends 'main/base.html' %}
{% load static %}

{% block page_title %}
	<h3><a href={{ org.orgURL }}>{{ org.orgName }}</a></h3>
	Organisation ID: {{ org.orgID }}
{% endblock %}

{% block sidebar_block %}
	<h3>Networks:</h3>
	<ul class="list-group list-group-flush">
		{% for n in net%}
			<a href="{% url 'show_net' org.slug n.slug %}" class="list-group-item list-group-item-action">
				{{ n.netName }}
			</a>
		{% endfor %}
	</ul>
{% endblock %}


{% block body_block %}
	<p class="text-wrap">Analysis here this is a long bit of example text to test the text wrapping functionality that should work properly but for some reason won't work at all which is very good fun. i love web design i love web design i love web design i love web design i love web design i love web design i love web design i love web design i love web design i love web design i love web design i love web design i love web design i love web design i love web design i love web design i love web design </p>
{% endblock %}
