{% extends 'main/base.html' %}
{% load static %}

{% csrf_token %}

{% block page_title %}
	<h3>Profile</h3>
{% endblock %}

{% block body_block %}
Email: {{ email }}
<br>
Username: {{ username }}
<br>

<form action='editapikey' method='POST'>
    {% csrf_token %}
    <label>API Key: </label>
    <input  type="text" id="apikey" name="apikey" placeholder="demo" value="{{ apikey }}">
    <button class='ciscobutton' type='submit'> Update API key</button><br>
</form>

<form action='usedemokey' method='POST'>
    {% csrf_token %}
    <button class='ciscobutton' type='submit'> Use demo key</button>
</form>

{% if error %}
    <h1>Error, invalid API key!</h1>
{% endif %}


{% endblock %}


{% block sidebar_block %}
<h3 class=title>
	Pages
</h3>
<ul class="list-group list-group-flush">
    <a href='/overview'>
        <li class="list-group-item">Overview</li>
    </a>
    <a href='/alerts'>
        <li class="list-group-item">Alerts</li>
    </a>
</ul>
{% endblock %}